<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Información del Cuidador</title>
</head>
<body>
<h2>Hola, [[${nombreUsuario}]]</h2>
<p>Se ha asignado un cuidador a tu mascota [[${nombreMascota}]]. Aquí están los detalles del cuidador:</p>
<ul>
    <li><strong>Nombre del Cuidador:</strong> [[${nombreCuidador}]]</li>
    <li><strong>Email del Cuidador:</strong> [[${emailCuidador}]]</li>
    <li><strong>Teléfono del Cuidador:</strong> [[${telefonoCuidador}]]</li>
    <li><strong>Experiencia del Cuidador:</strong> [[${experienciaCuidador}]]</li>
</ul>
<p>Gracias por confiar en nuestros servicios.</p>
</body>
</html>